<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean name="course-1" class="com.rapipay.app.model.Course">
		<constructor-arg name="name" value="Java Course"/>
		<constructor-arg name="fee" value="120000"/>


	</bean>

	<bean name="student-1" class="com.rapipay.app.model.Student">
	<constructor-arg  value="1" type="int"/>
		<constructor-arg  value="What is java?"/>


		<constructor-arg ref="course-1"/>	
		

	</bean>



</beans>